* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clrprimary: lightseagreen;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--clrprimary);
}
h1 {
  line-height: 1.3;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}
